* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color4);
    font-family: 'Varela Round', sans-serif;
}

:root {
    --color1: rgb(177, 88, 236);
    --color2: rgb(243, 0, 0);
    --color3: rgb(240, 240, 240);
    --color4: rgb(34, 34, 34);
}

body {
    background-color: var(--color3);
}

.color1 {
    color: var(--color1)
}

#arriba {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#arriba>img {
    width: 7em;
    height: auto;
}

#menu {
    position: sticky;
    top: 0;
    background-color: var(--color3);
    border-bottom: 0.1em solid rgba(0, 0, 0, 0.1);
}

#menu>ul {
    display: flex;
}

#menu>ul>li {
    list-style: none;
    transition: 0.5s;
    position: relative
}

#menu>ul>li>a {
    display: block;
    padding: 1em;
    text-decoration: none;
}

.active:after {
    content: "";
    display: block;
    height: 0.1em;
    background-color: var(--color1);
    position: absolute;
    top: 2.2em;
    width: 90%;
    left: 5%;
    animation: animaMenuActivo linear 0.5s;
}

@keyframes animaMenuActivo {
    0% {
        left: 50%;
        width: 0%;
    }
    100% {
        width: 90%;
        left: 5%;
    }
}

.pagina {
    min-height: 100vh;
    display: flex;
}