* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color4);
    font-family: 'Varela Round', sans-serif;
}

:root {
    --color1: rgb(177, 88, 236);
    --color2: rgb(221, 221, 221);
    --color3: rgb(240, 240, 240);
    --color4: rgb(34, 34, 34);
}

body {
    background-color: var(--color3);
}

.color1 {
    color: var(--color1)
}

#arriba {
    font-size: 2em;
    justify-content: space-evenly;
}

#arriba>img {
    width: 7em;
    height: auto;
}

#menu {
    position: sticky;
    top: 0;
    background-color: var(--color3);
    border-bottom: 0.1em solid rgba(0, 0, 0, 0.1);
    z-index: 999;
}

#menu>ul {
    display: flex;
}

#menu>ul>li {
    list-style: none;
    transition: 0.5s;
    position: relative
}

#menu>ul>li>a {
    display: block;
    padding: 1em;
    text-decoration: none;
}

.active:after {
    content: "";
    display: block;
    height: 0.1em;
    background-color: var(--color1);
    position: absolute;
    top: 2.2em;
    width: 90%;
    left: 5%;
    animation: animaMenuActivo linear 0.5s;
}

@keyframes animaMenuActivo {
    0% {
        left: 50%;
        width: 0%;
    }
    100% {
        width: 90%;
        left: 5%;
    }
}

.pagina {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
}

h2 {
    position: relative;
    margin: 1em;
}

h2:before {
    position: absolute;
    content: "";
    display: block;
    height: 0.1em;
    width: 110%;
    background-color: var(--color1);
    bottom: 0;
    left: -5%;
}

#repositorios {
    width: 100%;
}

#repositorios>div {
    margin-bottom: 1.5em;
    background-color: var(--color2);
    width: 100%;
    border-radius: 0.5em;
    box-shadow: 0 0 1em var(--color2);
    border: 0.1em solid gray
}

#repositorios>div>div {
    display: flex;
}

#repositorios a {
    padding: 1em;
    border-left: 0.1em solid gray
}

.nombreRepositorio {
    padding: 1em;
    margin-right: auto;
}

@media (min-width: 600px) {
    #arriba {
        flex-direction: row !important;
        position: relative;
    }
    #arriba>i {
        position: absolute;
        bottom: 2em;
        width: 100%;
        text-align: center;
    }
    .pagina {
        padding: 1em 20%;
    }
}