* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: var(--color4);
}

:root {
    --color1: #0d1117;
    --color2: #161b22;
    --color3: #2d3341;
    --color4: #acb0b9;
    --color5: #581919;
}
body {
    background-color: var(--color1);
}
