#proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    h1 {
        text-align: center;
        flex: 100%;
    }

    .repositorio {
        background-color: var(--color3);
        margin-top: 0.5em;
        border-radius: 0.5em;
        display: flex;

        .nombreRepositorio {
            margin-right: auto;
            padding: 1em;
        }

        a {
            padding: 1em;
            border-left: 0.2em dashed var(--color1);
        }
    }
}

@media (min-width: 55em) {
    #proyectos {
        flex-direction: row;

        .repositorio {
            flex: 0 calc(50% - 1em);
        }
    }
}
